.bowling-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 10em;
  line-height: 100%;
  background-image: url(https://res.cloudinary.com/dastrong/image/upload/f_auto,q_80/v1538223041/TeacherSite/Misc/bowling-alley.jpg);
  background-size: cover;
  background-position: center;
  user-select: none;
}

.total-round-counter {
  position: absolute;
  right: 0;
  top: 25vh;
  font-size: 0.8em;
  color: #333;
  text-shadow: 1px 1px 25px #fff;
}