.hotpotato-container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eee;
}

.hotpotato-text {
  width: 100%;
  text-align: center;
}