.lessons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px - 60px);
  height: 100%;
}

.first-screen {
  height: calc(100vh - 100px - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  line-height: 90px;
  width: 670px;
  font-family: auto;
  margin: 0 auto;
  position: absolute;
}

.first-screen .ui.dropdown.selection {
  font-size: 20px;
  width: 200px;
  text-align: center;
  display: block;
  margin: 15px auto 0;
  box-shadow: 0.5px 0.5px 4px rgba(0,0,0,0.55);
}

.first-screen .ui.dropdown.selection,
.first-screen .ui.dropdown.selection .menu {
  border: none;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.first-screen .ui.dropdown.selection:hover {
  box-shadow: 0 0.5px 5px rgba(0,0,0,0.9);
}

.first-screen .ui.dropdown.selection .menu .item {
  border: none;
  text-align: center;
}

.first-screen .ui.dropdown.selection .default.text {
  color: #000;
}

.first-screen-exit-active {
  transform: translateY(-100px) scale(0.9);
  opacity: 0;
  transition: 0.75s all;
}

.first-screen-sec {
  opacity: 0;
}
.first-screen-sec-enter-active {
  opacity: 0;
  transition: 1s 1s all;
}
.first-screen-sec-enter-done {
  opacity: 1;
  transition: 1s 1s all;
}

.current-grade {
  font-size: 24px;
  line-height: 45.59px;
}

.second-screen {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  position: absolute;
}
.second-screen-enter-active {
  opacity: 0;
  transition: 1s 1s all;
}
.second-screen-enter-done {
  opacity: 1;
  transition: 1s 1s all;
}

.third-screen-enter {
  opacity: 0;
}
.third-screen-enter-active {
  opacity: 0;
  transition: 1s all;
}
.third-screen-enter-done {
  opacity: 1;
  transition: 1s all;
}

.book-holder {
  height: 240px;
}

.book-item {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.2em;
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 10px #a8a8a8;  
  transition: all 0.25s;
  height: 100%;
  display: inline-block;
  height: 220px;
  position: relative;
  cursor: pointer;
}

.book-item:hover {
  transform: scale(1.23);
  box-shadow: 0 0 10px purple;
}

.book-item.active {
  box-shadow: 0 0 10px green;
  background-color: rgba(250, 250, 250, 1);
}

.book-item.active .front {
  opacity: 0;
  z-index: 0;
}

.book-item.active .back {
  opacity: 1;
  z-index: 1;
}

.book-item .front {
  z-index: 1;
  padding: 10px;
}

.book-item .back {
  z-index: -1;
  position: absolute;
  padding: 0;
  top: -110px;
  left: -75px;
  opacity: 0;
  width: 300px;
  height: 440px;
  transform: rotateY(180deg) scale(0.5);
}

.book-item.active {
  z-index: 3;
}

.book-item.notActive {
  opacity: 0.5;
}

.book-item .close-book {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -45px;
  transition: all 0.45s 0.25s;
}

.book-item.active .close-book {
  opacity: 1;
}

.book-item .ui.dropdown.selection.active,
.book-item .ui.button {
  border-radius: 0!important;
}

.book-item .ui.dropdown .menu.visible {
  max-height: 362.2px;
}

.close-book-enter {
  opacity: 0;
}
.close-book-enter-active {
  opacity: 0;
}
.close-book-enter-done {
  opacity: 1;
}

.book-item .front img {
  width: 130px;
}

.book-item .front div {
  padding-top: 6px;
  text-align: right;
}

.book-item .front div p {
  display: inline-block;
  margin: 0;
  width: calc(100% - 1.18em);
  text-align: center;
}

.book-item .front div i {
  margin: 0;
}