.gamesPage-container {
  height: calc(100vh - 86px);
  padding: 20px 0 30px;
  overflow-y: auto;
}

.gamesPage-container .ui.grid {
  margin: -10px 10px -15px;
  justify-content: center;
}

.gamesPage-container .ui.card {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 15px;
  box-shadow: 0 0 5px #737373;
}

.gamesPage-container .ui.card .ui.grey.label.bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.gamesPage-container .ui.card .ui.grey.label.top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.gamesPage-container .ui.card > .content {
  padding: 30px 10px;
  opacity: 0;
  z-index: 1;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.35s ease-in-out;
}

.gamesPage-container .ui.card > .content > .description {
  margin-bottom: 1em;
}

.gamesPage-container .ui.card > .content > .ui.button {
  margin-right: 0;
}

.gamesPage-container .ui.card > .image {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px !important;
  opacity: 1;
  transform: scale(1);
  transition: all 0.35s ease-in-out;
}

.gamesPage-container .ui.card:hover .content {
  opacity: 1;
}

.gamesPage-container .ui.card:hover img {
  opacity: 0;
  transform: scale(0.5);
}

.gamesPage-container .ui.top.attached.label:first-child + :not(.attached) {
  margin-top: 0 !important;
}
