.game-instructions-container {
  height: 100vh;
  background-color: #eee;
}

.game-instructions-container img {
  position: absolute;
  bottom: 10px;
  height: 90px;
  opacity: 0.85;
  transition: opacity 0.25s;
}

.game-instructions-container img:nth-of-type(1) {
  left: 0;
}

.game-instructions-container img:nth-of-type(2) {
  right: 0;
}

.game-instructions-list {
  margin: 0;
  height: calc(100vh - 86px - 66px);
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 10px 20px 5px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.game-instructions-list-single {
  font-size: 90px;
  line-height: 100px;
}

.game-instructions-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.game-instructions-buttons-reverse {
  flex-direction: row-reverse;
}

.game-instructions-buttons > button {
  font-style: uppercase;
}

.game-instructions-buttons > * {
  width: 180px;
}

.game-instructions-buttons > .ui.labeled.icon.button > .icon {
  background-color: rgba(0, 0, 0, 0);
  width: 1.18em;
}

.game-instructions-buttons > .ui.labeled.right.icon.button {
  padding-left: 1.18em !important;
  padding-right: 1.77em !important;
}

.game-instructions-buttons > .ui.labeled.left.icon.button {
  padding-left: 1.77em !important;
  padding-right: 1.18em !important;
}

@media only screen and (max-width: 900px) {
  .game-instructions-container img:nth-of-type(2) {
    opacity: 0;
    z-index: -1;
  }

  .game-instructions-buttons {
    left: 145px;
    width: calc(100vw - 145px);
  }
}

.ui.steps.fluid {
  margin: 0 0 0 66px;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 66px;
  width: calc(100% - 66px);
}

.ui.steps .step.active,
.ui.steps .step.active:after {
  background-color: #eee;
}

.ui.steps .step:not(.active) {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
