.gamesPage-container {
  min-height: 100vh;
}

.ui.grid {
  margin: 20px 10px;
  justify-content: center;
}

.ui.card:first-child ,
.ui.card {
  margin: 10px;
}

.ui.card>.content {
  padding: 30px 10px;
  opacity: 0;
  z-index: 1;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease-in-out;
}

.ui.card>.content>.description {
  margin-bottom: 1em;
}

.ui.card>.content>.ui.button {
  margin-right: 0;
}

.ui.card>.image {
  position: absolute;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.ui.card:hover .content {
  opacity: 1;
}

.ui.card:hover .image {
  opacity: 0;
}

.ui.top.attached.label:first-child+:not(.attached) {
  margin-top: 0!important;
}