.page {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 0;
}

.page.page-slideUp-enter-done,
.page.page-slideDown-enter-done,
.page.page-slideLeft-enter-done, 
.page.page-slideRight-enter-done { 
  position: absolute;
}

.page.page-slideLeft-enter {
  transform: translate(100%, 0) scale(0.7);
  opacity: 0;
}

.page.page-slideLeft-enter-active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.page.page-slideLeft-exit {
  transform: translate(-100%, 0) scale(0.7);
  opacity: 0;
}

.page.page-slideRight-enter {
  transform: translate(-100%, 0) scale(0.7);
  opacity: 0;
}

.page.page-slideRight-enter-active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.page.page-slideRight-exit {
  transform: translate(100%, 0) scale(0.7);
  opacity: 0;
}

.page.page-slideDown-enter {
  transform: translate(0, -100%) scale(0.8);
  opacity: 0;
}

.page.page-slideDown-enter-active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.page.page-slideDown-exit {
  transform: translate(0, 100%) scale(0.8);
  opacity: 0;
}

.page.page-slideUp-enter {
  transform: translate(0, 100%) scale(0.8);
  opacity: 0;
}

.page.page-slideUp-enter-active {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.page.page-slideUp-exit {
  transform: translate(0, -100%) scale(0.8);
  opacity: 0;
}