/* .App {
  overflow: hidden;
} */

.page {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 1s;
}

.page-enter {
  transform: translate(100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

.page.slideLeft-enter {
  transform: translate(100%, 0);
}

.page.slideLeft-enter-active {
  transform: translate(0, 0);
}

.page.slideLeft-exit {
  transform: translate(-100%, 0);
}

.page.slideRight-enter {
  transform: translate(-100%, 0);
}

.page.slideRight-enter-active {
  transform: translate(0, 0);
}

.page.slideRight-exit {
  transform: translate(100%, 0);
}

/* .page--down.page-enter {
  transform: translate(0, 100%);
}

.page--down.page-enter-active {
  transform: translate(0, 0);
}

.page--down.page-exit {
  transform: translate(0, -100%);
} */
/* 
.page--slideLeft.page-enter {
  transform: translate(100%, 0);
}

.page--slideLeft.page-enter-active {
  transform: translate(0, 0);
}

.page--slideRight.page-enter {
  transform: translate(-100%, 0);
}

.page--slideRight.page-enter-active {
  transform: translate(0, 0);
}

.page.slideLeft-exit {
  transform: translate(-100%, 0);
}
.page.slideRight-exit {
  transform: translate(100%, 0);
}
.page.slideDown-exit {
  transform: translate(0, -100%);
} */