.bowling-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 10em;
  line-height: 100%;
  background-image: url(https://img.clipartxtras.com/14ddc73c6473050c836eebabb5ff4724_bowling-lane-clipart-free-clip-art-library-bowling-alley-clipart_1400-980.jpeg);
  background-size: cover;
  background-position: center;
  user-select: none;
}

.total-round-counter {
  position: absolute;
  right: 0;
  top: 25vh;
  font-size: 0.8em;
  color: #333;
  text-shadow: 1px 1px 25px #fff;
}