.letterDrop {
  position: absolute;
  top: 100vh;
  padding: 20px;
}

.letterDrop-enter {
  top: 100vh;
}

.letterDrop-enter-done {
  left: calc(50vw - 60px) !important;
  top: 10vh;
  opacity: 0;
  transition: 10s left cubic-bezier(0.14, 0.4, 0.46, 0.33), 
              10s top cubic-bezier(0.05, 0.23, 0.46, 0.33), 
              1s opacity 9s;
}