.flipper {
  font-size: 8vw;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 1px black;
  transition: 1s all;
  transform-style: preserve-3d;
  width: 50vw;
  height: 25vh;
  display: inline-block;
}

.front, .back {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
	top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

/* shown */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  /* removes unwanted default behaviours */
  cursor: pointer;
  user-select: none;
  background-color: lightblue;
  transition: 0.3s font-size;
  display: flex;
  flex-wrap: wrap;
  line-height: 12.5vh;
  text-align: center;
  padding: 10px;
}

/* hidden */
/* well set backgroundColor inline depending on if its an X or O */
.back {
  transform: rotateY(180deg);
  color: #fff;
}

/* expands our element alongside the clicked one */
.expanding {
  transform: rotateY(0deg);
  width: 100vw;
}

/* static class */
.expanded {
  transform: rotateY(0deg);
  width: 100vw;
}

/* rotates the clicked item to show the back side */
.flipping {
  transform: rotateY(180deg);
}

/* keep spun and move to the left out of view */
.slideLeft {
  visibility: hidden;
  transform: rotateY(180deg) translateX(50vw);
  width: 0;
  font-size: 0;
}

/* keep spun and move left or right out of view depending on which side it is */
.slideRight {
  visibility: hidden;
  transform: rotateY(180deg) translateX(-50vw);
  width: 0;
  font-size: 0;
}

/* slides our card upwards */
.slideUp {
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.vert33  { height: 33.4vh; }
.vert50  { height: 50vh; }
.vert100 { height: 100vh; }