.letterDrop {
  position: absolute;
  top: 100vh;
  padding: 20px;
}

.letterDrop-enter {
  top: 100vh;
}

.letterDrop-enter-done {
  left: calc(50vw - 60px) !important;
  top: 10vh;
  opacity: 0;
  transition: 10s left, 10s top, 0.5s opacity 8s;
}