.elim-container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  transform: rotateX(0deg) scale(1);
  opacity: 1;
  transition: 2s transform, 1s opacity, 1s border-radius;
}

/* animation for whole container */
.resetting {
  transform: rotateX(180deg) scale(0);
  border-radius: 50%;
  opacity: 0;
  font-size: 0;
}