.outer-round {
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-round {
	color: #fff;
	font-size: 1.25em;
	text-align: center;
	text-shadow: black 1px 1px 200px;
	opacity: 0;
}

.round-text-enter {
	opacity: 0;
}

.round-text-enter-done {
	opacity: 1;
	transition: 0.5s opacity;
}

.round-text-exit {
	opacity: 1;
}

.round-text-exit-done {
	opacity: 0;
	transition: 1.5s opacity;
}

.round-answer-enter {
	opacity: 0;
}

.round-answer-enter-done {
	opacity: 1;
	transition: 1.5s opacity;
}

.round-answer-exit {
	opacity: 0;
}

.round-answer-exit-done {
	opacity: 0;
	transition: 0.1s opacity;
}