.startUpError-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startUpError-inner {
  background-color: #eee;
  padding: 15px 10px;
  margin: 10px 20px 20px;
  box-shadow: rgb(113, 108, 108) 0px 0px 10px;
  text-align: center;
  width: 90%;
  max-width: 750px;
  border-radius: 10px;
}

.startUpError-inner span {
  text-decoration: underline;
}

.startUpError-inner h3 {
  margin: 20px 10px;
}

.startUpError-inner p:nth-of-type(1) {
  margin: 10px auto;
  max-width: 400px;
  line-height: 2em;
}

.startUpError-inner p:nth-of-type(2) {
  margin: 0;
}