body {
  margin: 0;
  padding: 0;
}

#root {
  opacity: 0;
  transition: 0.75s opacity 1.3s;
}

#root:not(:empty) {
  opacity: 1;
}

#root:not(:empty) + #custom-app-loader {
  opacity: 0;
}

#custom-app-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1111;
  position: absolute;
  top: 0;
  background-color: #fff;
  transition: 0.2s opacity 1.3s;
  opacity: 1;
}

.yingyang-loader {
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
