.lessons-container-inner .data-page-container {
  min-height: calc(100vh - 100px - 80px);
}

.data-page-container {
  min-height: calc(100vh - 100px);
  width: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.data-page-container .submit-data-btn {
  border-radius: 0;
  margin: 0;
}

.data-page-container .extra-input.ui.input {
  width: 50%;
  border-radius: 0;
} 

.data-page-container .ui.input.extra-input input {
  border-radius: 0;
  text-align: center;
} 

.data-page-container .ui.input.extra-input.incomplete > input::placeholder {
  color: white;
  font-weight: bold;
}

.data-page-container .ui.input.extra-input.incomplete > input {
  background-color: rgba(255, 4, 4, 0.4);
  border-color: #d41414;
  color: #9f3a38;
  box-shadow: none;
}

.data-page-container .ui.input.extra-input.completed > input {
  background-color: rgba(101, 232, 15, 0.4);
  border-color: #3bbf51;
  color: #023e07;
  box-shadow: none;
}

.data-page-container .ui.accordion .title:not(.ui) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  font-size: 1.75em;
  font-variant: small-caps;
  font-weight: bold;
}

.data-page-container .accordion .title:nth-child(1) {
  border-bottom: 1px solid #D3CCE3;
}

.data-page-container .accordion .title:not(.ui).complete {
  background-color: #3bbf51;
}

.data-page-container .accordion .title:not(.ui).incomplete {
  background-color: #d41414;
}

.lessons-container-inner .data-page-container .ui.accordion .content.active {
  min-height: calc(100vh - 100px - 50px - 50px - 36px - 80px);
}

.data-page-container .ui.accordion .content.active { 		
  min-height: calc(100vh - 100px - 50px - 50px - 36px);		
}

.api.data-page-container .ui.accordion .content.active { 		
  min-height: calc(100vh - 100px - 50px - 50px - 36px - 38px - 80px);		
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui), .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding: 10px!important;
}

.ui.celled.table {
  margin: 10px 0 0;
} 

.data-page-container .ui.accordion .content button {
  border: 1px solid rgba(22, 171, 57, 0.5);
}

.ui.form {
  border: 1px solid rgba(0, 0, 0, 0);
}

.ui.form .fields {
  margin: 0;
}

.ui.form .fields .wide.field {
  padding-left: 0;
  padding-right: 0;
}

.ui.form input[type=text] {
  border-left-width: 0.5px;
  border-right-width: 0.5px;
}