.cowboy-container {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dastrong/image/upload/f_auto/v1567147396/TeacherSite/Media/Cowboy/CowboyStandoff.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.cowboy-text-holder {
  width: 70%;
  height: 90vh;
  background-color: rgba(255, 210, 177, 0.43);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px #422a00;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px 4px #d4a679;
  border-radius: 10px;
}

.cowboy-text,
.cowboy-ready {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  padding: 10px;
  opacity: 0 !important;
}

.cowboy-ready {
  opacity: 1 !important;
  font-size: 12vw;
}

.cowboy-text-enter {
  opacity: 0 !important;
}

.cowboy-text-enter-active {
  opacity: 0.01 !important;
  transition: all 0.2s;
}

.cowboy-text-enter-done {
  opacity: 1 !important;
  transition: all 0.2s;
}

.cowboy-ready-enter {
  opacity: 0 !important;
  transform: translateY(-300px);
}

.cowboy-ready-enter-active {
  opacity: 0.01 !important;
  transform: translateY(-300px);
  transition: all 0.75s cubic-bezier(0.7, 1.76, 0.74, 0.86);
}

.cowboy-ready-enter-done {
  opacity: 1 !important;
  transform: translateY(0px);
  transition: all 0.75s cubic-bezier(0.7, 1.76, 0.74, 0.86);
}

.cowboy-ready-exit {
  opacity: 1 !important;
  transform: translateY(0px);
}

.cowboy-ready-exit-active {
  opacity: 1 !important;
  transform: translateY(0px);
  transition: all 0.25s;
}

.cowboy-ready-exit-done {
  opacity: 0 !important;
  transform: translateY(200px);
  transition: all 0.25s;
}
