.stars-container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.stars-container > div {
  width: 50vw;
}

.stars-container.vert25 > div {
  height: 25vh;
}

.stars-container.vert33 > div {
  height: 33.34vh;
}

.stars-container .flipper-card .back {
  transform: rotateX(180deg);
}

.stars-container .flipper-card.flipped {
  transform: rotateX(180deg);
  transition: 1s transform;
}
