.contact .ui.vertical.divider {
  position: relative;
  height: 140px;
  margin-top: 200px;
  margin-left: 7.5px;
  left: 0;
  top: 0;
}

.contact-holders h1 {
  font-variant: small-caps;
  text-align: center;
}

.contact-interactive span {
  font-style: italic;
  font-size: 1.25em;
}

.interactive-chats h3 {
  text-decoration: #2185d0 underline wavy;
}

.interactive-chats {
  display: flex;
  justify-content: space-between;
}

.interactive-chats img {
  height: 150px;
}

.interactive-chats i {
  margin: 17px;
}

.contact-holders .ui.form .disabled.field {
  opacity: 1;
}

.contact-holders .ui.form .disabled.button {
  opacity: 0.85 !important;
}
