.flipper-card {
  font-size: 8vw;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  transform-style: preserve-3d;
}

.flipper-card.front,
.flipper-card.back {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
  height: inherit;
  width: inherit;
}

.flipper-card.front {
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.flipper-card.back {
  z-index: 1;
  cursor: default;
}
