.flipper-card {
  font-size: 8vw;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  user-select: none;
  display: inline-block;
}

.flipper-card.front,
.flipper-card.back {
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.flipper-card.front {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper-card.back span {
  cursor: default;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
