.ui.modal.gif-modal {
  height: 95vh;
  width: 95vw;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.ui.modal.gif-modal .actions {
  padding-top: 0;
  padding-bottom: 0;
}

.ui.modal.gif-modal .content {
  max-height: 90%;
}

.ui.modal.gif-modal .content img {
  max-width: 100%;
  width: 100%;
}
