.textbox {
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-align: center;
  line-height: 110%;
  padding: 10px;
  text-shadow: 0px -1px 3px #fff;
}

.textBox-enter {
  transform: scale(0.1);
}

.textBox-enter-done {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.47, 0.31, 0.52, 0.87);
}

.textBox-exit-done {
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.07, 0.83, 0.45, 0.98);
}
