.past-lesson-modal > .header span {
  font-size: 0.8em;
  line-height: 25px;
  vertical-align: top;
  font-style: italic;
}

.past-lesson-list i {
  cursor: pointer;
}

.past-lesson-list .floated.content {
  height: 56px;
  display: flex;
  align-items: center;
}

.past-lesson-list .floated.content button {
  margin: 0;
}

.past-lesson-list .item {
  padding: 7px 0 !important;
  display: flex !important;
  align-items: center;
}

.past-lesson-list .item:first-child {
  padding-top: 0 !important;
}

.past-lesson-list .item:last-child {
  padding-bottom: 0 !important;
}

.past-lesson-list .item .content {
  width: calc(100% - 110px) !important;
}

.joined-list {
  text-overflow: ellipsis;
  width: 95% !important;
  white-space: nowrap;
  overflow: hidden;
  font-style: italic;
}

.joined-list span {
  font-weight: bold;
  font-style: normal;
}

.joined-list.description:nth-of-type(2) {
  margin: 3px 0;
}

.ui.message.past-lessons-msg {
  position: absolute;
  z-index: 111111;
  width: 400px;
  left: calc(50vw - (400px / 2));
  top: 9px;
  margin: 0px;
  text-align: center;
}

.ui.message.past-lessons-msg i.close.icon {
  height: 15px;
  width: 10.5px;
  top: 5px;
  right: 8px;
}
