.ui.button.sideBarBtn {
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255, 0);
  transition: 0.5s all;
  top: 8px;
  left: 8px;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.ui.button.sideBarBtn:hover {
  background-color: rgba(180, 175, 175, 0.4);
  opacity: 1 !important;
}

.ui.menu {
  font-size: 1.1em;
}

.ui.menu .item.home-close-btn-group {
  padding: 0;
}

.ui.menu .item.home-close-btn-group > div.ui.buttons {
  width: 100%;
}

.ui.menu .item.home-close-btn-group > div.ui.buttons > * {
  border-radius: 0;
}

.ui.menu .item.lesson-btns .ui.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.ui.menu .item.lesson-btns .ui.buttons button i {
  margin: 0 0 8px;
}

.ui.inverted.menu a.item i {
  transform: scale(1);
  transition: all 0.45s;
}

.ui.inverted.menu a.item:hover i {
  transform: scale(1.25);
}

.ui.overlay.sidebar {
  z-index: 1001;
}

.sidebar-main .ui.sidebar .item:last-child {
  margin-bottom: 20px;
}
