.redblue-container {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eee;
}

.redblue-container .outer-color {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  user-select: none;
}

.redblue-container .outer-color.red {
  background-color: #e82828;
  border: 2px solid #670303;
}

.redblue-container .outer-color.blue {
  background-color: #2352d0;
  border: 2px solid #04179c;
}

.redblue-container .inner-color {
  width: calc(100vw - 20px * 2 + 1px);
  height: calc(50vh - 34px * 2 + 3px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 1px 1px 20px white;
}

.redblue-container .inner-color.red {
  background-color: #ff9090;
  border: 2px solid #670303;
  box-shadow: 0 0 25px #731111;
}

.redblue-container .inner-color.blue {
  background-color: #95adfd;
  border: 2px solid #04179c;
  box-shadow: 0 0 25px #0f204e;
}

.redblue-container hr {
  position: absolute;
  margin: 0;
  height: calc(20px * 2);
  border-radius: 50%;
}

.redblue-container .red hr {
  border: 1px solid #670303;
}

.redblue-container .blue hr {
  border: 1px solid #04179c;
}

.redblue-container .st-line {
  top: -2px;
  left: -2px;
  transform-origin: top;
  transform: rotate(330deg);
}

.redblue-container .nd-line {
  top: -2px;
  right: -2px;
  transform-origin: top;
  transform: rotate(30deg);
}

.redblue-container .rd-line {
  bottom: -2px;
  left: -2px;
  transform-origin: bottom;
  transform: rotate(30deg);
}

.redblue-container .th-line {
  bottom: -2px;
  right: -2px;
  transform-origin: bottom;
  transform: rotate(330deg);
}
