.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  transform: rotateX(0deg) scale(1);
  opacity: 1;
  transition: .7s transform, .4s opacity;
}

/* animation for whole container */
.resetting {
  transform: rotateX(180deg) scale(0);
  opacity: 0;
  font-size: 0;
}